@charset "UTF-8";

input#b1{
    height: 40px;
}
input#b2{
    height: 40px;
}
input#b3{
    height: 40px;
}
h1{
    background-color: cadetblue;
    text-align: center;
    border-radius: 15px;
}
div#botoes{
    padding: 5px;
    text-align: center;
}
input:hover{
    background-color: rgb(2, 211, 2);
}
main{
    
}